/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --global-padding: clamp(10px, 2.67vi, 20px);
  
  --accent-color: #FF0070;
  --text-color: #F1B2CE;

  --main-title-color: #DB00FF;
  --title-color: var(--accent-color);
  --secondary-title-color: #000028;
  
  --decorator-toggle: flex;
  --decorator-border: 1px solid var(--accent-color);
  --theme-menu-color: var(--accent-color);
  --theme-menu-color-translucent: #FF007066;
  --link-shadow-color: var(--accent-color);
}