/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-family: 'IBM Plex mono', monospace;
  --global-padding: clamp(10px, 2.67vi, 20px);
  --gap-s: 10px;
  --gap-l: 20px;

  --bg-color: #000028;
  --accent-color: #ff0070;
  --text-color: #f1b2ce;

  --main-title-color: #db00ff;
  --main-title-shadow: var(--accent-color);
  --title-color: var(--accent-color);
  --secondary-title-color: #000028;

  --decorator-toggle: flex;
  --decorator-border: 1px solid var(--accent-color);
  --theme-menu-color: var(--accent-color);
  --theme-menu-color-translucent: #ff007066;
  --link-shadow-color: var(--accent-color);
}
